[Unit]
Description=Redis container
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker start -a hermes-server
ExecStop=/usr/bin/docker stop -t 2 hermes-server

[Install]
WantedBy=default.target
